<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Edytuj gatunek filmowy</title>
</head>
<body>
<main class="main-content" layout:fragment="content">
    <h2 class="list-heading">Edytuj gatunek filmowy</h2>
    <p class="notification-bar" th:if="${notification}" th:text="${notification}">
        Belka z powiadomieniami
    </p>
    <form action="#" th:action="@{/admin/edytuj-gatunek}" method="post" class="mc-form" th:object="${genre}">
        <input type="hidden" th:field="${genre.id}">
        <label for="genreName">Nazwa</label>
        <input type="text" id="genreName" placeholder="np. Horror" th:field="*{name}">
        <label for="movieShortDescription">Opis - max 500 znaków</label>
        <textarea id="movieShortDescription" rows="5" th:field="*{description}"></textarea>
        <button type="submit">Edytuj</button>
    </form>
    <form action="#" th:action="@{/admin/edytuj-gatunek/usun}" method="post" th:method="POST" class="mc-form">
        <input type="hidden" th:value="${genre.id}" name="id">
        <button id="delete-button" type="submit">Usuń</button>
    </form>
</main>
</body>
</html>